{% extends '_layouts/front.twig' %}

{% block title %}Guidelines{% endblock %}

{% block content %}
	<section class="block grey fix-nav">
		<div class="wrap">
			<h4 class="title">Community Guidelines</h4>
			<p class="subtitle light">In order to protect the experience and safety of the members of our community, we restrict the type of behavior and content that we allow. Every member is expected to adhere to the guidelines set forth in these Community Guidelines. Failure to do so may result in the temporary or permanent banning of your account.</p>
			<p class="subtitle light"><em>Last updated: March 22, 2019</em></p>
		</div>
	</section>
	<section class="block">
		<div class="wrap">
			<h4 class="title">Advertising</h4>
			<p class="subtitle light">Do not advertise in our server or to our members. Advertising is defined as sending messages or using other features of Discord in a manner designed to promote something other than community-sponsored projects. If in doubt, ask a moderator before posting.</p>
		</div>
	</section>
	<section class="block">
		<div class="wrap">
			<h4 class="title">Backseat Moderating</h4>
			<p class="subtitle light">Do not "backseat moderate". "Backseat moderating" is defined as acting like or taking on the role of a moderator.</p>
		</div>
	</section>
	<section class="block">
		<div class="wrap">
			<h4 class="title">Behavior and Conduct</h4>
			<p class="subtitle light">Do not disrespect or harass anyone. This includes, but isn't limited to, making racist or obscene comments towards other members of the community and using derogatory or vulgar language in a manner that's intended to disrespect or harass another member.</p>
		</div>
	</section>
	<section class="block">
		<div class="wrap">
			<h4 class="title">Impersonation</h4>
			<p class="subtitle light">Do not impersonate any person or group of people. Do not act in a manner that's intended to mislead others into believing that you are someone that you are not.</p>
		</div>
	</section>
	<section class="block">
		<div class="wrap">
			<h4 class="title">Roles and Mentions</h4>
			<p class="subtitle light">Do not ask for or request a role on our server. Additionally, do not mention a role on our server, even if it's mentionable. If you are in need of support, you can mention the <code>@Support</code> role, but we ask that you use this wisely. Members should not be mentioned excessively.</p>
		</div>
	</section>
	<section class="block">
		<div class="wrap">
			<h4 class="title">Bugs</h4>
			<p class="subtitle light">Do not intentionally exploit bugs or issues with Discord or any of the bots on our server. Knowingly exploiting bugs in Discord or any of our bots in order to cause harm will result in a permanent ban from our community.</p>
		</div>
	</section>
	<section class="block">
		<div class="wrap">
			<h4 class="title">Spam</h4>
			<p class="subtitle light">Do not post spam. Our definition of "spam" includes unsolicited advertising, <a href="https://www.urbandictionary.com/define.php?term=copypasta">copypastas</a> and false PSAs. We also do not permit trolling of any kind in our community.</p>
		</div>
	</section>
	<section class="block">
		<div class="wrap">
			<h4 class="title">NSFW</h4>
			<p class="subtitle light">Do not use vulgar language excessively. Do not post any messages that contain content that is NSFW. NSFW content includes, but isn't limited to, pornography, violence and other distributing or objectionable content. Content that is prohibited by the <a href="https://discordapp.com/guidelines">Discord Community Guidelines</a> is strictly forbidden in our community.</p>
		</div>
	</section>
	<section class="block">
		<div class="wrap">
			<h4 class="title">Contacting Staff</h4>
			<p class="subtitle light">If you have a question for staff, please use the server to communicate with them. Do not send a direct message to staff unless they ask you to do so. If you find a security issue with our bots or website, please report it to us responsibly. Security vulnerabilities may be sent to us by email at <a href="mailto:security@typicalbot.com">security@typicalbot.com</a>.</p>
		</div>
	</section>
	<section class="block grey">
		<div class="wrap">
			<p class="subtitle light" style="margin-top: 20px;">If you break any of the above guidelines, you may be warned, kicked or banned from our community at the discretion of our moderators. Appeals may be granted on a case-by-case basis at the discretion of community staff.</p>
		</div>
	</section>
{% endblock %}